# Fichiers générés par le compilateur
/Debug/
/Release/
/*.elf
/*.bin

# Fichiers de configuration locaux
.settings/
.metadata/

# Exclure les fichiers générés par CubeMX ou STM32CubeIDE
Drivers/*/Src/*_template.c
Drivers/*/Inc/*_template.h
Drivers/*/Src/*.d
Drivers/*/Inc/*.d
Drivers/*/Src/*.o
Drivers/*/Inc/*.o
